.footer {
  width: 50%;
  margin: 0 auto;
  background: @blue3;

  @media @tablet {
    width: 80%;
  }//Closes .footer @tablet

  @media @mobile {
    width: 100%;
  }//Closes .footer @mobile
  
  p {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    padding: 10px;
  }//Closes p
}//Closes .footer